#main_nav {
    grid-area: nav;
    background-color: #00182c;
    border-right: 3px solid #00fff7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    > img {
        height: 70px;
    }

    > hr {
        color: #ffffff30;
        width: 90%;
    }

    > ul {
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 90%;

        > .nav-schema-row {
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: #ffffff21;
            padding: 5px 5px;
            border-radius: 4px;

            > div {
                display: flex;
                align-items: center;
                gap: 10px;

                > .schema-button {
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: #00586c;
                    background: #ffffff80;
                    border-radius: 3px;
                    height: 16px;
                    width: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: none;

                    &:hover {
                        color: #fff;
                        background: #0095ad;
                        border: 1px solid #006577;
                        transition: $default_transition;
                    }

                    &.active {
                        color: #fff;
                        background: #0095ad;
                        border: 1px solid #006577;
                        transition: $default_transition;
                    }
                }

                > img {
                    height: 20px;
                }

                > a {
                    color: #fff;
                    overflow-x: hidden;
                    font-size: 0.8rem;
                }
            }

            > ul.nav-table-row {
                display: none;
                flex-direction: column;
                padding-left: 20px;
                border-left: 2px solid rgb(0, 216, 255);
                margin-left: 7px;

                &.active {
                    display: flex;
                }

                > li {
                    display: flex;
                    flex-direction: column;

                    > div {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        white-space: nowrap;
                        overflow: hidden;

                        > .table-button {
                            font-size: 0.8rem;
                            font-weight: bold;
                            color: #00586c;
                            background: #ffffff80;
                            border-radius: 3px;
                            height: 16px;
                            width: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            border: none;

                            &:hover {
                                color: #fff;
                                background: #0095ad;
                                border: 1px solid #006577;
                            }

                            &.active {
                                color: #fff;
                                background: #0095ad;
                                border: 1px solid #006577;
                            }
                        }

                        > img {
                            height: 20px;
                        }

                        > a {
                            color: #fff;
                            overflow-x: hidden;
                            font-size: 0.8rem;
                        }
                    }

                    > ul.nav-column-row {
                        display: none;
                        flex-direction: column;
                        padding-left: 18px;
                        border-left: 2px solid rgb(0, 216, 255);
                        margin-left: 7px;

                        &.active {
                            display: flex;
                        }

                        > li {
                            display: flex;
                            align-items: center;

                            > a {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                color: #fff;
                                overflow-x: hidden;
                                font-size: 0.8rem;

                                &:hover {
                                    > button {

                                        color: #fff;
                                        background: #0095ad;
                                        border: 1px solid #006577;

                                        > img {
                                            &.black {
                                                display: none;
                                            }

                                            &.white {
                                                display: block;
                                            }
                                        }
                                    }
                                }

                                > button {
                                    font-size: 0.8rem;
                                    font-weight: bold;
                                    color: #00586c;
                                    background: #ffffff80;
                                    border-radius: 3px;
                                    height: 16px;
                                    width: 16px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    border: none;

                                    > img {
                                        height: 8px;

                                        &.white {
                                            display: none;
                                        }
                                    }
                                }

                                > img {
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
